<h2 class="text-center text-info"> <u> {{title}}</u></h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="card">
        <div class="card-header text-center bg-primary text-white">
         <span>Relevé de mon compte</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="annee">Année</label>
              <input type="search" name="annee" class="form-group" placeholder="2019">
            </div>
            <div class="col-md-3">
              <button class="btn btn-success">
                <span class="text-white">Dépôt</span>
              </button>
            </div>
            <div class="col-md-3">
              <button class="btn btn-danger">
                <span class="text-white">Retrait</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>